@inject IViewLocalizer Localizer
@model IAsyncEnumerable<UploadFileViewModel>

@{
    ViewData["Title"] = Localizer["Index upload files"];
}

<h2 class="pb-2 mb-4 border-bottom">@ViewData["Title"]</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">@TempData["Success"]</div>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayNameForInnerType((UploadFileViewModel model) => model.Id)</th>
            <th class="text-center">@Html.DisplayNameForInnerType((UploadFileViewModel model) => model.FileName)</th>
            <th class="text-center">@Html.DisplayNameForInnerType((UploadFileViewModel model) => model.ContentType)</th>
            <th class="text-center">@Html.DisplayNameForInnerType((UploadFileViewModel model) => model.Length)</th>
            <th class="text-center">@Localizer["Action"]</th>
        </tr>
    </thead>
    <tbody>
        @await foreach (var item in Model)
        {
            <tr>
                <td class="vertical-middle text-center">@Html.DisplayFor(_ => item.Id)</td>
                <td class="vertical-middle"><a asp-controller="UploadFiles" asp-action="Download" asp-route-id="@item.Id">@Html.DisplayFor(_ => item.FileName)</a></td>
                <td class="vertical-middle text-center">@Html.DisplayFor(_ => item.ContentType)</td>
                <td class="vertical-middle text-right">@Html.DisplayFor(_ => item.Length)</td>
                <td class="vertical-middle text-center">
                    <a class="btn btn-outline-primary btn-sm" asp-controller="UploadFiles" asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>
                    <a class="btn btn-outline-primary btn-sm" asp-controller="UploadFiles" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                    <a class="btn btn-outline-primary btn-sm" asp-controller="UploadFiles" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
